*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .ball { 
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    border-radius: 50%;
    box-shadow: 0 4px 4px black;
    position: absolute;
    top: 300px;
    left: 400px;
} */




.btn-group {
    width: 50%;
    height: 50px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}

button {
    width: 25%;
    height: 50%;
}


.box {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .8s;
}


.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.scale {
    width: 400px;
    height: 400px;
}